<title>carts.html Page</title>
<h4>{{ res }}</h4>

<table border="1">
    <tr>
        <th>商品</th>
        <th>价格</th>
        <th>功能</th>
    </tr>
    {% for cartid,cartname,price in data %}
    <tr>
        <th>{{cartname}}</th>
        <th>{{price}}</th>
        <th>
            <form action="/cart/DELETE" method='GET'>
                <input type="hidden" name="cartid" value="{{cartid}}">
                <input type="submit" value="删除">
            </form>
            <form action="/cart/UPDATE" method='GET'>
                <input type="hidden" name="cartid" value="{{cartid}}">
                <input type="hidden" name="cartname" value="{{cartname}}">
                <input type="hidden" name="price" value="{{price}}">
                <input type="submit" value="更新">
            </form>
        </th>
    </tr>
    {% endfor %}
</table>
<form action="/cart/ADD" method="GET">
    <input type="submit" value="继续添加">
</form>
<form action="/users" method="GET">
    <input type="submit" value="主页">
</form>