<title> book_info.html page</title>
<h4>{{ info }}</h4>
<h4>{{ res }}</h4>

<body>
    <form action="/book/ADD" method="POST">
        书籍名:<input type="text" name="name" id=""> <br> 作者: <input type="text" name="author" id="">
        <br> <input type="submit" name="" id="" value="添加书籍">
    </form>
    <form action="/books" method="GET">
        <input type="submit" name="" id="" value="书籍信息">
    </form>
    <form action="/users">
        <input type="submit" name="" id="" value="主页">
    </form>
</body>