<!doctype html>
<title>Tips Page</title>
{% block page_content %}
<!-- <img src="{{ image }}"> -->
<h4>{{ res }}!</h4>
<div class="test"></div>
<form action="/students" method="GET">
    <input type="submit" value="用户信息" />
</form>
<form action="/carts" method="GET">
    <input type="submit" value="购物车信息" />
</form>
<form action="/carinfo" method="GET">
    <input type="submit" value="添加购物车" />
</form>
<form action="/logout" method="GET">
    <input type="submit" value="退出" />
</form>
{% endblock %}