<!doctype html>
<title>login_success.htmlPage</title>
{% block page_content %}
<!-- <img src="{{ image }}"> -->
<h4>{{ res }}!</h4>
<form action="/user/info" method="GET">
    <input type="submit" value="用户信息" />
</form>
<form action="/carts" method="GET">
    <input type="submit" value="购物车信息" />
</form>
<form action="/files" method="GET">
    <input type="submit" value="上传文件" />
</form>
<form action="/books" method="GET">
    <input type="submit" value="书籍信息" />
</form>
<form action="/user/logout" method="GET">
    <input type="submit" value="登出" />
</form>
<form action="/user/logoff" method="GET">
    <input type="submit" value="注销" />
</form>

{% endblock %}